<%= javascript_pack_tag 'covid_photos' %>
<%= form_with(model: covid_photo, local: true) do |form| %>
  <% if covid_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(covid_photo.errors.count, "error") %> prohibited this covid_photo from being saved:</h2>

      <ul>
        <% covid_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rvt-box rvt-m-top-md">
    <div class="rvt-box__header">
       Images Information
    </div>
    <div class="field rvt-box__body">
      <div class="field rvt-m-top-md">
        <%= form.label :date_taken, class: 'required'  %>
        <div id="covid-date-field">
          <%= form.date_select :date_taken, order: [:month, :day, :year], start_year: 2019, end_year: 2022 %>
        </div>
      </div>

      <div class="field rvt-m-top-md">
        <%= form.label :location, class: 'required' %>
        <%= form.text_field :location, placeholder: true %>
      </div>

      <div class="field rvt-m-top-md">
        <%= form.label :author, class: 'required' %>
        <%= form.text_field :author, placeholder: true %>
      </div>

      <div class="field rvt-m-top-md">
        <%= form.label :information, class: 'required' %>
        <%= form.text_area :information, placeholder: true %>
      </div>

      <div class="field rvt-m-top-md">
        <%= form.label :topics, class: 'required' %>
        <ul class="rvt-plain-list">
        <%= form.collection_check_boxes :topic_ids, Topic.all, :id, :name do |m| %>
          <li>
            <%= m.check_box %> <%= m.label %>
          </li>
        <% end %>
        </ul>
      </div>

      <div id="other-topic_div" class="field rvt-m-top-md" <%= other_display(covid_photo.topic_ids) %>>
        <%= form.label :other_topic %>
        <%= form.text_field :other_topic %>
      </div>
    </div>
  </div>

  <div class="rvt-box rvt-m-top-md">
    <div class="rvt-box__header">
      Upload File
    </div>
    <div class="rvt-box__body">
      <div class="rvt-file" data-upload="covid_photo_photo">
        <%= form.file_field :photo,  'aria-describedby': 'file-description' %>
        <label for="covid_photo_photo" class="rvt-button">
            <span>Upload a file*</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M10.41,1H3.5A1.3,1.3,0,0,0,2.2,2.3V13.7A1.3,1.3,0,0,0,3.5,15h9a1.3,1.3,0,0,0,1.3-1.3V4.39ZM11.8,5.21V6H9.25V3h.34ZM4.2,13V3h3V6.75A1.25,1.25,0,0,0,8.5,8h3.3v5Z"/>
            </svg>
        </label>
        <div class="rvt-file__preview" data-file-preview="covid_photo_photo" id="file-description">
            No file selected
        </div>
      </div>
    </div>



  </div>

  <div class="rvt-box rvt-m-top-md">
    <div class="rvt-box__header">
       IUPUI University Library Publishing Agreement
    </div>
    <div class="rvt-box__body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Sit amet commodo nulla facilisi nullam vehicula. Senectus et netus
        et malesuada fames. Sed ullamcorper morbi tincidunt ornare massa.
        Lectus mauris ultrices eros in.
      </p>

      <div class="rvt-grid">
        <div class="field rvt-m-top-md rvt-grid__item">
          <%= form.label "Name", class: 'required' %>
          <%= form.text_field :submit_name %>
        </div>

        <div class="field rvt-m-top-md rvt-grid__item">
          <%= form.label "Email", class: 'required' %>
          <%= form.text_field :submit_email %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p><strong>* Required Fields</strong></p>
  </div>

  <div class="actions rvt-m-top-md">
    <%= form.submit "Submit", class: "rvt-button" %>
  </div>
<% end %>
