<%= javascript_pack_tag 'covid_photos' %>
<%= form_with(model: covid_photo, local: true, validate: true) do |form| %>
  <% if covid_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(covid_photo.errors.count, "error") %> prohibited this covid_photo from being saved:</h2>

      <ul>
        <% covid_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rvt-box rvt-m-top-md">
    <div class="rvt-box__header">
       Images Information
    </div>
    <div class="field rvt-box__body">
      <div class="field rvt-m-top-md">
        <%= form.label :date_taken, class: 'required'  %>
        <div id="covid-date-field">
          <%= form.date_select :date_taken, order: [:month, :day, :year], start_year: 2019, end_year: 2022 %>
        </div>
      </div>

      <div class="field rvt-m-top-md">
        <%= form.label :location, class: 'required' %>
        <%= form.text_field :location, placeholder: true %>
      </div>

      <div class="rvt-m-top-md">
        <%= form.label :author %>
      </div>

      <div class="rvt-grid">
        <div class="field  rvt-grid__item">
          <%= form.label :author_first, class: 'required' %>
          <%= form.text_field :author_first, placeholder: true %>
        </div>

        <div class="field  rvt-grid__item">
          <%= form.label :author_last, class: 'required' %>
          <%= form.text_field :author_last, placeholder: true %>
        </div>
      </div>

      <div class="field rvt-m-top-md rvt-grid__item">
        <%= form.label :information, class: 'required' %>
        <%= form.text_area :information, placeholder: true %>
      </div>

      <div class="field rvt-m-top-md">
        <%= form.label :topics, class: 'required' %>
        <ul class="rvt-plain-list">
        <%= form.collection_check_boxes :topic_ids, Topic.all, :id, :name do |m| %>
          <li>
            <%= m.check_box %> <%= m.label %>
          </li>
        <% end %>
        </ul>
      </div>

      <div id="other-topic_div" class="field rvt-m-top-md" <%= other_display(covid_photo.topic_ids) %>>
        <%= form.label :other_topic %>
        <%= form.text_field :other_topic %>
      </div>
    </div>
  </div>

  <div class="rvt-box rvt-m-top-md">
    <div class="rvt-box__header">
      Upload File
    </div>
    <div class="rvt-box__body">
      <div class="rvt-file" data-upload="covid_photo_photo">
        <%= form.file_field :photo,  'aria-describedby': 'file-description' %>
        <label for="covid_photo_photo" class="rvt-button">
            <span>Upload a file*</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M10.41,1H3.5A1.3,1.3,0,0,0,2.2,2.3V13.7A1.3,1.3,0,0,0,3.5,15h9a1.3,1.3,0,0,0,1.3-1.3V4.39ZM11.8,5.21V6H9.25V3h.34ZM4.2,13V3h3V6.75A1.25,1.25,0,0,0,8.5,8h3.3v5Z"/>
            </svg>
        </label>
        <div class="rvt-file__preview" data-file-preview="covid_photo_photo" id="file-description">
            No file selected
        </div>
      </div>
    </div>
  </div>

  <div class="rvt-box rvt-m-top-md">
    <div class="rvt-box__header">
       IUPUI University Library Publishing Agreement
    </div>
    <div class="rvt-box__body">
      <p>
        In order for IUPUI University Library to reproduce, translate, and
        distribute your submission worldwide, your agreement to the following
        terms is necessary.
      </p>
      <p>
        By signing and submitting this license, you (the creator or copyright
        owner)grant to Indiana University Board of Trustees on behalf of IUPUI
        a non-exclusive, perpetual, irrevocable right to reproduce, translate
        (as defined below), and/or distribute your submission worldwide in
        print and electronic format and in any medium, including but not
        limited to audio or video.
      </p>
      <p>
        You agree that IUPUI may, without changing the content, translate the
        submission to any medium or format, now known or later developed, for
        preservation or access, and provide basic metadata that describes the
        contents for discovery.
      </p>
      <p>
        You also agree that IUPUI may keep more than one copy of this submission
        for security, back-up and preservation.
      </p>
      <p>
        You represent that the submission is your original work, and that you
        have the right to grant the rights contained in this license. You also
        represent that your submission does not, to the best of your knowledge,
        infringe upon anyone's copyright.
      </p>
      <p>
        If the submission contains material for which you do not hold copyright,
        you represent that you have obtained the unrestricted permission of the
        copyright owner to grant IUPUI the rights required by this license, and
        that such third-party owned material is clearly identified and
        acknowledged within the text or content of the submission.
      </p>
      <p>
        If the submission is based upon work that has been sponsored or
        supported by an agency or organization other than Indiana University,
        you represent that you have fulfilled any right of review or other
        obligations required by such contract or agreement.
      </p>
      <p>
        IUPUI University Library will clearly identify your name as the creator
        and/or copyright owner of the submission, and will not make any
        alterations, other than as allowed by this license, to your submission.
      </p>
      <p>
        IUPUI University Library reserves the right to remove submissions that
        do not fit within the scope of this collection.​
      </p>

      <div class="rvt-grid">
        <div class="field rvt-m-top-md rvt-grid__item">
          <%= form.label "Name", class: 'required' %>
          <%= form.text_field :submit_name %>
        </div>

        <div class="field rvt-m-top-md rvt-grid__item">
          <%= form.label "Email", class: 'required' %>
          <%= form.text_field :submit_email %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p><strong>* Required Fields</strong></p>
  </div>

  <div class="actions rvt-m-top-md">
    <%= form.submit "Submit", class: "rvt-button" %>
  </div>
<% end %>
