<p id="notice"><%= notice %></p>

<h1>Covid Photos</h1>

<table>
  <thead>
    <tr>
      <th>Date taken</th>
      <th>Location</th>
      <th>Author</th>
      <th>Information</th>
      <th>Submit name</th>
      <th>Submit email</th>
      <th>Other topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @covid_photos.each do |covid_photo| %>
      <tr>
        <td><%= covid_photo.date_taken %></td>
        <td><%= covid_photo.location %></td>
        <td><%= covid_photo.author %></td>
        <td><%= covid_photo.information %></td>
        <td><%= covid_photo.submit_name %></td>
        <td><%= covid_photo.submit_email %></td>
        <td><%= covid_photo.other_topic %></td>
        <td><%= link_to 'Show', covid_photo %></td>
        <td><%= link_to 'Edit', edit_covid_photo_path(covid_photo) %></td>
        <td><%= link_to 'Destroy', covid_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Covid Photo', new_covid_photo_path %>
