<table>
  <thead>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.date_taken' %></th>
      <th><%= I18n.t 'helpers.label.covid_photo.location' %></th>
      <th><%= I18n.t 'helpers.label.covid_photo.author' %></th>
      <th><%= I18n.t 'helpers.label.covid_photo.information' %></th>
      <th><%= I18n.t 'helpers.label.covid_photo.other_topic' %></th>
      <th><%= I18n.t 'helpers.label.covid_photo.submit_name' %></th>
      <th><%= I18n.t 'helpers.label.covid_photo.submit_email' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @covid_photos.each do |covid_photo| %>
      <tr>
        <td><%= covid_photo.date_taken %></td>
        <td><%= covid_photo.location %></td>
        <td><%= "#{covid_photo.author_last}, #{covid_photo.author_first}" %></td>
        <td><%= covid_photo.information %></td>
        <td><%= covid_photo.other_topic %></td>
        <td><%= covid_photo.submit_name %></td>
        <td><%= covid_photo.submit_email %></td>
        <td>
          <%= link_to 'Show', covid_photo, class: 'rvt-button rvt-button--secondary rvt-button--small' %>
          <%= link_to 'Edit', edit_covid_photo_path(covid_photo), class: 'rvt-button rvt-button--secondary rvt-button--small' %>
          <%= link_to 'Destroy', covid_photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'rvt-button rvt-button--secondary rvt-button--small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Covid Photo', new_covid_photo_path, class: 'rvt-button rvt-button__primary' %>

<div class="rvt-m-top-md">
  <%== pagy_info(@pagy) %>
  <%== render '/pagy/nav', locals: {pagy: @pagy} %>
</div>
