<h1>COVID-19 Digital Collection Project</h1>
<h2><%= "Submission ID: #{@covid_photo.id}" %></h2>
<p>
  <a href="<%= rails_blob_url(@covid_photo.photo) %>">
    <%= image_tag @covid_photo.photo.variant(resize_to_limit: [200, 200]) %>
  </a>
</p>
<table id="covid-photo-table" class="rvt-table-stripes">
  <caption class="sr-only">Covid Photo Information</caption>
  <tbody>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.date_taken' %></th>
      <td><%= @covid_photo.date_taken %></td>
    </tr>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.location' %></th>
      <td><%= @covid_photo.location %></td>
    </tr>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.author' %></th>
      <td><%= "#{@covid_photo.author_last}, #{@covid_photo.author_first}" %></td>
    </tr>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.information' %></th>
      <td><%= @covid_photo.information %></td>
    </tr>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.topics' %></th>
      <td>
        <ul>
        <% @covid_photo.topics.each do |t| %>
          <li><%= t.name %></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= I18n.t 'helpers.label.covid_photo.other_topic' %></th>
      <td><%= @covid_photo.other_topic %></td>
    </tr>
    <tr>
      <th>Signature</th>
      <td><%= @covid_photo.submit_name %> (<%= @covid_photo.submit_email %>)</td>
    </tr>
  </tbody>
</table>

<div class="rvt-p-top-md">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_covid_photo_path(@covid_photo), class: 'rvt-button' %>
    <%= link_to 'Destroy', @covid_photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'rvt-button rvt-button--secondary' %>
  <% else %>
    <%= link_to 'Submit Another Photo', new_covid_photo_path(), class: "rvt-button rvt-button__primary" %>
  <% end %>
</div>
