<p id="notice"><%= notice %></p>

<h1>COVID-19 Digital Collection Project</h1>
<h2><%= "Submission ID: #{@covid_photo.id}" %></h2>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.date_taken' %></strong>
  <%= @covid_photo.date_taken %>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.location' %></strong>
  <%= @covid_photo.location %>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.author' %></strong>
  <%= "#{@covid_photo.author_last}, #{@covid_photo.author_first}" %>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.information' %></strong>
  <%= @covid_photo.information %>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.topics' %></strong>
  <ul>
  <% @covid_photo.topics.each do |t| %>
    <li><%= t.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.other_topic' %></strong>
  <%= @covid_photo.other_topic %>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.submit_name' %></strong>
  <%= @covid_photo.submit_name %>
</p>

<p>
  <strong><%= I18n.t 'helpers.label.covid_photo.submit_email' %></strong>
  <%= @covid_photo.submit_email %>
</p>

<p>
  <%= image_tag @covid_photo.photo.variant(resize_to_limit: [100, 100]) %>
</p>


<%= link_to 'Submit Another Photo', new_covid_photo_path(), class: "rvt-button rvt-button__primary" %>
