<!DOCTYPE html>
<html>
  <head>
    <title>Ulcf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main role="main" id="main-content" class="rvt-container">
      <%= render "layouts/notice" if notice %>
      <%= render "layouts/alert" if alert %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
